/* body {
	font-family: "Open Sans", sans-serif;
	background-color: #f7efe5;
} */

#chat-window {
	height: 100%;

	padding: 20px;
	border-radius: 10px;
}

#chat-messages {
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	height: calc(100vh - 400px);
	max-height: calc(100vh - 400px);
	overflow: auto;
}

#chat-form {
	display: flex;
	align-items: center;
}

#chat-input {
	flex-grow: 1;
	padding: 10px;
	margin-right: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

button[type="submit"] {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #f7efe5;
	color: #674188;
	border: none;
	font-size: 1rem;
	font-weight: bold;
}
.bot-message {
	font-family: "Roboto", sans-serif;
	background-color: #e582e4; /* different light color */
	text-align: justify; /* keep it right-aligned */
	padding: 15px; /* added padding */
	margin-top: 10px; /* added margin-top to create a gap */
	margin-bottom: 10px;
	display: flex;
	align-items: start;
	font-style: italic;
}

.user-message {
	font-family: "Nunito", sans-serif;
	background-color: #f7efe5; /* light color */
	text-align: left; /* changed text align to left */
	padding: 15px; /* added padding */
	display: flex;
	align-items: start;
	font-style: italic;
}
.user-message img,
.bot-message img {
	width: 40px; /* adjust the width of the icon */
	height: 40px; /* adjust the height of the icon */
	margin-right: 20px; /* add some margin to separate the icon from the message */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
	#chat-window {
		width: 90%;
	}
}
.main-title {
	font-size: 1.5rem;
	text-align: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	margin-bottom: 0.5rem;
	color: gray;
	font-style: italic;
}

/* collapsable */

.chat-bar-collapsible {
	position: fixed;
	bottom: 10px;
	right: 0px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 100 !important;
}

.collapsible {
	background-color: rgb(82, 151, 255);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 350px;
	text-align: left;
	outline: none;
	font-size: 18px;
	border-radius: 10px 10px 0px 0px;
	border: 3px solid white;
	border-bottom: none;
}

.content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}

.full-chat-block {
	width: 350px;
	background: white;
	text-align: center;
	overflow: auto;
	scrollbar-width: none;
	height: max-content;
	transition: max-height 0.2s ease-out;
}

.outer-container {
	min-height: 500px;
	bottom: 0%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chat-container {
	max-height: 500px;
	overflow: hidden;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	scroll-behavior: smooth;
	hyphens: auto;
}

.chat-container::-webkit-scrollbar {
	display: none;
}

.chat-bar-input-block {
	display: flex;
	float: left;
	box-sizing: border-box;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	background-color: rgb(235, 235, 235);
	border-radius: 10px 10px 0px 0px;
	padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
	display: flex;
	justify-content: space-evenly;
	box-sizing: border-box;
	width: 25%;
	float: right;
	font-size: 20px;
}

#chat-icon:hover {
	opacity: 0.7;
}

/* Chat bubbles */

#userInput {
	width: 75%;
}

.input-box {
	float: left;
	border: none;
	box-sizing: border-box;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	color: #000;
	background-color: white;
	outline: none;
}

.userText {
	color: white;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: normal;
	text-align: right;
	clear: both;
}

.userText span {
	line-height: 1.5em;
	display: inline-block;
	background: #5ca6fa;
	padding: 10px;
	border-radius: 8px;
	border-bottom-right-radius: 2px;
	max-width: 80%;
	margin-right: 10px;
	animation: floatup 0.5s forwards;
}

.botText {
	color: #000;
	font-family: Helvetica;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
}

.botText span {
	line-height: 1.5em;
	display: inline-block;
	background: #e0e0e0;
	padding: 10px;
	border-radius: 8px;
	border-bottom-left-radius: 2px;
	max-width: 80%;
	margin-left: 10px;
	animation: floatup 0.5s forwards;
}

@keyframes floatup {
	from {
		transform: translateY(14px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@media screen and (max-width: 600px) {
	.full-chat-block {
		width: 100%;
		border-radius: 0px;
	}
	.chat-bar-collapsible {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100%;
	}
	.collapsible {
		width: 100%;
		border: 0px;
		border-top: 3px solid white;
		border-radius: 0px;
	}
}
